body{
    background-color: blanchedalmond;
}
ul.key-components{
    list-style-type: none;
}
ul.carbot-functionality{
    list-style-type: none;
}
.video {
    text-align: center;
}

.video iframe {
    display: inline-block;
}
.materials img {
    width: 300px; /* Adjust the width as needed */
    height: auto; /* Keeps the aspect ratio */
}
table tr td{
    border: 1px solid blue;
}